* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: white;
  background-color: gainsboro;
}
